<div class="flex flex-col justify-center py-11 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="text-center text-3xl font-bold text-gray-500">
      Create an account
    </h2>
    <p class="mt-2 text-center text-sm text-gray-600 max-w">
      Or
      <a routerLink="/login" class="font-medium text-[#076dc0] cursor-pointer">
        SignIn
      </a>
    </p>
  </div>
  <div class="mt-0 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <form class="space-y-6" [formGroup]="regForm" (ngSubmit)="SignUp()">
        <div>
          <label class="block text-md font-medium text-gray-700"> Name </label>
          <div class="mt-1">
            <input
              id="name"
              type="text"
              autocomplete="email"
              class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-[#076dc0] focus:z-10 sm:text-sm"
              placeholder="Enter your name"
              formControlName="name"
            />
          </div>
          <div
            class="mt-1 text-white bg-[#076dc0] rounded-md"
            *ngIf="regForm.get('name')?.errors && regForm.get('name')?.touched"
          >
            <p class="p-2" *ngIf="regForm.get('name')?.getError('required')">
              <li>name is required</li>
            </p>
            <p class="p-2" *ngIf="regForm.get('name')?.getError('minlength')">
              <li>Minimum length is 8</li>
            </p>
          </div>
        </div>
        <div>
          <label for="email" class="block text-md font-medium text-gray-700">
            Email address
          </label>
          <div class="mt-1">
            <input
              id="email"
              type="email"
              autocomplete="email"
              class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-[#076dc0] focus:z-10 sm:text-sm"
              placeholder="Enter your email address"
              formControlName="email"
            />
            <div
              class="mt-1 text-white bg-[#076dc0] rounded-md"
              *ngIf="
                regForm.get('email')?.errors && regForm.get('email')?.touched
              "
            >
              <p class="p-2" *ngIf="regForm.get('email')?.getError('required')">
                <li>Email is required</li>
              </p>
              <p class="p-2" *ngIf="regForm.get('email')?.getError('email')">
                <li>Enter a Valid email</li>
              </p>
            </div>
          </div>
        </div>
        <div>
          <label for="password" class="block text-md font-medium text-gray-700">
            Password
          </label>
          <div class="mt-1">
            <input
              id="password"
              type="password"
              autocomplete="current-password"
              class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-[#076dc0] focus:z-10 sm:text-sm"
              placeholder="Enter your password"
              formControlName="password"
              (keyup)="mathcedPasswords()"
            />
          </div>
          <div
            class="mt-1 text-white bg-[#076dc0] rounded-md"
            *ngIf="
              regForm.get('password')?.errors &&
              regForm.get('password')?.touched
            "
          >
            <p
              class="p-2"
              *ngIf="regForm.get('password')?.getError('required')"
            >
              <li>Password is required</li>
            </p>
            <p class="p-2" *ngIf="regForm.get('password')?.getError('pattern')">
              The Password Must Contains:
              <li>at least Minimum eight characters</li>
              <li>at least one uppercase letter</li>
              <li>at least one lower letter</li>
              <li>at least one number</li>
              <li>at least one special character</li>
            </p>
          </div>
        </div>
        <div>
          <label
            for="confpassword"
            class="block text-md font-medium text-gray-700"
          >
            Confirm Password
          </label>
          <div class="mt-1">
            <input
              id="confpassword"
              type="password"
              autocomplete="current-password"
              class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-[#076dc0] focus:z-10 sm:text-sm"
              placeholder="rePassword"
              formControlName="rePassword"
              (keyup)="mathcedPasswords()"
            />
            <div
              class="mt-1 text-white bg-[#076dc0] rounded-md"
              *ngIf="regForm.get('rePassword')?.touched"
            >
              <p
                class="p-2"
                *ngIf="!isMatched && regForm.get('rePassword')?.touched"
              >
                <li>Passwords Should be matches</li>
              </p>
            </div>
          </div>
        </div>
        <div>
          <label
            for="confpassword"
            class="block text-md font-medium text-gray-700"
          >
            Phone Number
          </label>
          <div class="mt-1">
            <input
              id="phone"
              type="text"
              class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-[#076dc0] focus:z-10 sm:text-sm"
              placeholder="Enter your phone number"
              formControlName="phone"
            />
          </div>
          <div
            class="mt-1 text-white bg-[#076dc0] rounded-md"
            *ngIf="
              regForm.get('phone')?.errors && regForm.get('phone')?.touched
            "
          >
            <p class="p-2" *ngIf="regForm.get('phone')?.getError('required')">
              <li>Phone is required</li>
            </p>
            <p class="p-2" *ngIf="regForm.get('phone')?.getError('pattern')">
              <li>
                Phone should start with [010,011,012,015] followed by 8 numbers
                to complete 11 numbers.
              </li>
            </p>
          </div>
        </div>
        <div>
          <button
            type="submit"
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-xl font-medium rounded-md text-white bg-[#076dc0] hover:bg-[#034174] duration-300 transition-all ease-in-out"
            [disabled]="!regForm.valid"
          >
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
